*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: black;
}
.espaco-formulario{
    display: flex;
    justify-content: flex-start;
    margin-right: 950px;
    background-color: white;
}
.espaco-formulario form{
    background-color: white;
    min-width: 480px;
}
.espacamento-form{
    margin-left: 42px;
    margin-top: 42px;
    height: 742.4px;
}
.cabecario h1{
    font-family: 'open-sans';
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0px;
}
.cabecario div{
    font-weight: 200;
}
.email{
    margin-top: 30px;
}

#email-input{
    margin-top: 10px;
    width: 401px;
    height: 25px;
}
.senha{
    margin-top: 20px;
}
#password-input{
    margin-top: 10px;
    width: 401px;
    height: 25px;
    margin-bottom: 10px;
}
.area-check-forgot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 35px;
}
.botao-sign-in{
    display: flex;
    justify-content: flex-start;
}
.botao-sign-in button{
    background-color: #1B9EDE;
    color: white;
    width: 401px;
    height: 25px;
    margin-bottom: 50px;
}
.login-com-outros{
    display: flex;
    justify-content: flex-start;
}
.tirar-borda{
    width: 401px;
    display: flex;
    border-right: none;
    border-bottom: none;
    border-left: none;
    justify-content: center;
    margin-bottom: 10px;

}
.alinhar-centro{
    display: flex;
    text-align: center;
}
.alinharbotao{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.botao-login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 401px;
    height: 50px;
}
.botao-login a{
    text-decoration: none;
}
.final-Container{
    margin-top: 60px;
}